body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
}
.first-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}

.first-ul {
  display: flex;
  gap: 40px;
}

.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
}
.menu:hover {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:active::after {
  content: "";
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 4px;
  border-radius: 50px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address .second-ul {
  display: flex;
  gap: 40px;
}
.address .contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
}
.address .contacts:hover {
  color: #404bbf;
}
.address .contacts:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 100%
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  align-items: center;
  margin: auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-top: 48px;
}
.button:hover {
  background-color: #404bbf;
  transition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus {
  background-color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.second-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.third-ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.advantages {
  width: calc((100% - 72px) / 4);
  margin: 0;
  padding-left: 0;
}
.icon {
  box-sizing: border-box;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  padding: 24px 100px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.name-section {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-par {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
  width: 1158px;
}
.name-third {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.four-ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.third-li {
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.name-container {
  padding: 32px 0;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.third-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.four-section {
  padding: 120px 0;
}
.five-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  column-gap: 24px;
  row-gap: 48px;
}
.five-li {
  width: calc((100% - 48px) / 3);
}
.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.four-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.app-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.four-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: auto;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  max-width: 264px;
}
