body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.first-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  margin-right: 76px;
}
.logo span {
  color: #2e2f42;
}

.first-ul {
  display: flex;
  gap: 40px;
}
.studio {
  color: #404bbf;
}
.studio::after {
  content: "";
  width: 100%;
  position: absolute;

  height: 4px;
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #404bbf;
}
.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  position: relative;
  transition-property: color, background-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover {
  color: #404bbf;
}
.menu:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  display: flex;
  align-items: center;
}
.address .second-ul {
  display: flex;
  gap: 40px;
}
.address .contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address .contacts:hover {
  color: #404bbf;
}
.address .contacts:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
  padding: 188px 0;
  margin: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-name.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1440px;
}
.main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  align-items: center;
  margin: auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}
.second-section {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.third-ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.advantages {
  width: calc((100% - 72px) / 4);
  margin: 0;
  padding-left: 0;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.name-section {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-par {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.third-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
  width: 1158px;
}
.name-third {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.four-ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}
.third-li {
  background-color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.name-container {
  padding: 32px 0;
}
.name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.third-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}
.social-icon svg {
  --color1: #4d5ae5;
  --color2: #f4f4fd;
  transition: fill 250ms ease-in-out cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon svg:hover {
  --color1: #404bbf;
}
.four-section {
  padding: 120px 0;
}
.five-ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  column-gap: 24px;
  row-gap: 48px;
}
.five-li {
  width: calc((100% - 48px) / 3);
  position: relative;
  overflow: hidden;
}
.img-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  transition: opacity 250ms ease-in-out;
}
.overlay p {
  display: none;
}

.five-li:hover .overlay {
  transform: translateY(0%);
  height: 300px;
  width: 100%;
  transition: height 0.3s ease-in-out;
}
.five-li:hover .overlay p {
  display: block;
}

.app-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.four-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.app-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.four-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  margin: auto;
  max-height: 312px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-span {
  color: #f4f4fd;
}
.footer-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  display: flex;
  max-width: 264px;
}
.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-media {
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
